target-version = "py311"
line-length = 88

[lint]
select = ["B", "BLE", "C4", "D", "E", "F", "I", "N", "PLR", "RET", "RUF", "SIM", "TCH", "UP"]
ignore = ["B008"]

[lint.pydocstyle]
convention = "pep257"
